{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <h2>{{ user.email }}</h2>

    <p>Completion Percentage: {{ completionPercentage }}%</p>

    {% for course in courses %}

        {% set isComplete = course.id in user.completeCourses %}

        <a href="{{ path('app_course', {id: course.id}) }}" class="{{ isComplete ? 'text-green-500' : '' }}">
            {{ course.name }}
        </a>

    {% endfor %}


{% endblock %}
