{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

    <section class="bg-white flex relative">
        <div class="absolute left-[40%] top-[60px]">
            <h2 class="text-[30px] font-semibold text-[#0F1b09]">{{ user.email }}</h2>
        </div>
        <div class="w-1/3 mt-[120px]">
         <p>Completion Percentage: {{ completionPercentage }}%</p>
        </div>
        <div class="w-2/3 mt-[120px]">
            

         {% for course in courses %}

          {% set isComplete = course.id in user.completeCourses %}
            <div class="grid gap-4 grid-cols-3 grid-rows-3 py-[40px]">
              <a class="text-[25px] rounded-full text-[#0F1b09] bg-[#9fc53a] border-2 border-black px-[30px] m-auto mb-[10%]" href="{{ path('app_course', {id: course.id}) }}" class="{{ isComplete ? 'text-green-500' : '' }}">
                  {{ course.name }}
              </a>
           </div>
        {% endfor %}
        
        
        </div>
    </section>
    
   

   

{% endblock %}
