{% extends 'base.html.twig' %}

{% block title %}Hello CourseController!{% endblock %}

{% block body %}
    <br>

    {% for chapter in chapters %}

    <h2>{{ chapter.name }}</h2>
        <p>{{ chapter.description }}</p>
        <br>
    {% endfor %}

    <br>

    {% if error_message %}
        <div class="text-red-500">
            {{ error_message }}
        </div>
    {% endif %}

    <form method="post" action="{{ path('app_course', {id: id}) }}">
        {% for question in questions %}
            <h2>{{ question.name }}</h2>
            {% for answer in question.answers %}

                <div class="radio">
                    <label>
                        <input type="radio" name="{{ question.id }}" value="{{ answer.id }}">
                        {{ answer.name }}
                    </label>
                </div>
            {% endfor %}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
    <br>

    <br>
    <br>

{% endblock %}
